<%- include("partials/postPageHeader"); -%>

    <div class="container d-flex justify-content-center" style="margin-top: 10%;">
        <form action="/deleteAcc" method="post">
            <button type="submit" class="btn btn-danger btn-lg">!! HESABIMI SİL !!</button>
        </form>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>

    <%- include('partials/footer') %>